pipeline/src_to_stage_incremental_load_solar_pipeline_2.json
{
	"name": "src_to_stage_incremental_load_solar_pipeline_2",
	"properties": {
		"activities": [
			{
				"name": "Notebook1",
				"type": "DatabricksNotebook",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/mounikavaishu@outlook.com/get_max_date_for_incremental_load",
					"baseParameters": {
						"folder_name": "solar_plant_2"
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricks1",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "temp",
					"value": "'"
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Notebook1",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "MySqlSource",
						"query": {
							"value": "@concat('select * from solar_plant_2 where date_time > ',variables('temp'),activity('Notebook1').output.runOutput,variables('temp'))",
							"type": "Expression"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "MySqlTable1",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "datalake",
						"type": "DatasetReference",
						"parameters": {
							"folder": {
								"value": "@concat('solar/solar_plant_2/as_on_date=',\nformatDateTime(utcnow(),'yyyy-MM-dd'))",
								"type": "Expression"
							},
							"file_name": "solar_plant_2"
						}
					}
				]
			},
			{
				"name": "Web1",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Copy data1",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://lgappvaish.azurewebsites.net:443/api/vaishuuu/triggers/When_a_HTTP_request_is_received/invoke?api-version=2022-05-01&sp=%2Ftriggers%2FWhen_a_HTTP_request_is_received%2Frun&sv=1.0&sig=BwoyTxHJpOStIf3IHXGEeqBX1VVRqXK_yBxEagh1AWA",
					"method": "POST",
					"body": {
						"value": "{\n    \"pipeline\":\"@{pipeline().Pipeline}\",\n    \"run_id\":\"@{pipeline().RunId}\",\n    \"time\":\"@{utcnow()}\"\n}",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"temp": {
				"type": "String"
			}
		},
		"folder": {
			"name": "src_to_stage_incremental_load_pipelines"
		},
		"annotations": []
	}
}